[submodule "RenderWareFile"]
	path = RenderWareFile
	url = https://github.com/energydrink02/RenderWareFile
[submodule "HipHopTool"]
	path = HipHopTool
	url = https://github.com/energydrink02/HipHopTool
